
.cards-group {
    margin-top: -75px;
    z-index: 999;
    position: relative;
}


@media screen and (max-width: 991px) {
    .cards-group {
        margin-top: 0;
    }





}


.cards-group .card-box img {
    width: 122px;
    height: 122px;
    object-fit: none;
}

@media screen and (min-width: 991px) {

    .cards-group .card-box {
        height: 233px;
        min-height: 233px;
    }
}

/*....*/
