#events-details-page {
    background-image: url("/images/events-details-page.png");
    background-position: center;
    background-size: cover;
}

.mySwiper-in-events-details-page .swiper-button-next:after, .mySwiper-in-events-details-page .swiper-button-prev:after {
    display: none;
}
.mySwiper-in-events-details-page .swiper-button-next, .mySwiper-in-events-details-page .swiper-button-prev
{
    width: 64px !important;
    height: 64px !important;

}

.baguetteBox-button#next-button,
.baguetteBox-button#previous-button{
    display: flex !important;

}
