.image-section {
    align-items: center;
    justify-content: center;
    height: 500px;
    display: flex;
}

.image-size {
    height: 25px;
    width: 25px;
}

.text-style {
    color: gray;
    font-size: 14px;
    word-break: break-all;
}

.news-image-content .content {
    min-height: 500px;

}

@media screen and (max-width: 991px) {
    .image-section {
        height: 400px !important;
    }

    .news-image-content .content {
        min-height: 400px;
    }

    .space-content {
        margin-top: 50px !important;
    }
}

.space {
    margin-bottom: 120px !important;
    margin-top: 50px !important;
}
